body {
    background-color: black;
    color: white;
    font-family: JosefineSans, Helvetica, sans-serif;
}

img#logo {
    width: 200px;
}

.t-50 {
    width: 50%;
}

header {
    display: flex;
}

nav {
    width: 100%
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    float: right;
}

a {
    color: white;
    text-decoration: none;
    margin-left: 10px;
}

table {
    border: 1px solid white;
    border-collapse:collapse;
}

table td {
    border:1px solid white;
    padding:20px;
}

table tr:hover {
    background:#ff0000;
}

@font-face {
    font-family: JosefineSans;
    src: url(../fonts/JosefinSans-Italic-VariableFont_wght.ttf);
}

article{
    text-align: center;
    margin:32px auto;
    width: 80%;
}