body {
    background-color: black;
    color: white;
    font-family: JosefineSans, Helvetica, sans-serif;
}

img#logo {
    width: 200px;
}

.t-50 {
    width: 50%;
}

header {
    display: flex;
}

nav {
    width: 100%
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    float: right;
}

a {
    font-family: Barlow;
    color: white;
    text-decoration: none;
    margin-left: 10px;
}

table {
    border: 1px solid white;
    border-collapse:collapse;
}

table td {
    border:1px solid white;
    padding:20px;
}

table tr:hover {
    background:#ff0000;
}

@font-face {
    font-family: JosefineSans;
    src: url(../fonts/JosefinSans-Italic-VariableFont_wght.ttf);
}

@font-face {
    font-family: Barlow;
    src: url(../fonts/Barlow-SemiBold.ttf);
}

article {
    text-align: center;
    margin:32px auto;
    width: 80%;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
    margin: 0 auto;
}

footer {
    text-align: center;
}

div#slider {
    background-image: url(https://hips.hearstapps.com/es.h-cdn.co/cades/contenidos/11121/cars3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 160px);
    animation: carsmovies 5s infinite;
    animation-delay: 0.3s;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

@keyframes carsmovies {
    0% {
        background-image: url(../imagenes/cars3\ \(1\).jpg);
    }

    25% {
        background-image: url(../imagenes/descarga.jpg);
    }

    50% {
        background-image: url(../imagenes/images.jpg);
    }

    75% {
        background-image: url(../imagenes/maxresdefault.jpg);
    }

    100% {
        background-image: url(../imagenes/maxresdefault\ \(1\).jpg);
    }
}

article {
    text-align: center;
    /*margin: 32px auto; */
    /* width: 80%; */
}

form{
    max-width: 640px;
    margin: 0 auto;
}

form h2 {
    text-align: center;
}

.form.column {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    max-width: 100%;
}

.form.column label {
    margin-bottom: 0.5em;
}

.form.column input {
    height: 30px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    color: white;
}

.form.column textarea {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    color: white;
}

form button {
    width: 100%;
    height: 35px;
    margin-bottom: 1em;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
}